.work-block {
	width: 450px;
	margin: 0 auto;
}

.table-report {
	border: 1px solid #000000;
	width: 100%;
}

.table-row {
	border: 1px solid #000000;
}

.table-column {
	border: 1px solid #000000;
}